@model IPageResult<RuntimeSqlListDto>
@{
    ViewData["Title"] = "执行SQL列表";
}
<div id="page-wrapper">
    <div class="row">
        <div class="panel panel-default">
            <form asp-action="Index" method="post" id="PageListForm">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">执行SQL列表</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="padding-top:0px;">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        @Html.Partial("_QueryWhere", ViewBag.QueryWhere as RuntimeSqlPageQueryWhere)
                        <div class="row" style="margin-top:5px;">
                            @if (Model != null && Model.Data.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <div class="col-lg-12">
                                        <div class="panel @(item.FIsSuccess?"panel-info" :"panel-danger") ">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-2">
                                                            项目名字:@item.FProjectName
                                                        </div>
                                                        <div class="col-sm-2">
                                                            服务器名字:@item.FServicerName
                                                        </div>
                                                        <div class="col-sm-2">
                                                            日志来源:@item.FSource.Desc()
                                                        </div>
                                                        <div class="col-sm-2">
                                                            是否成功:@(item.FIsSuccess ? "是" : "<span color='red'>否</span>")
                                                        </div>
                                                        <div class="col-sm-2">
                                                            消耗时间:@item.FTimeElapsed.ToString()
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                @Html.Raw(item.FSqlText)
                                                <p>
                                                    【生成时间：@item.FExecutedTime】【调用方法名字：@item.FMemberName】【请求标识：@item.FRequestGuid】【数据库类型：@item.FSqlDbType】
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer dataTables_wrapper">
                    <div class="row">
                        <pager jqcore-page="Model"></pager>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Script{
    <script src="~/js/DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        var currentProjectID = "@(ViewBag.QueryWhere.ProjectID)";
        var currentServicerID= "@(ViewBag.QueryWhere.ServicerID)";
        $(function () {
            BindProjectList("#ProjectID", currentProjectID);
            BindServicerList("#ServicerID", currentServicerID);
        })

    </script>
}